<app-nav></app-nav>

<h1 class="title">Petle</h1>
<p class="about">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit deleniti ad aliquid magni labore porro, inventore
    placeat dolore, sint maxime, aspernatur unde iste? Fuga et rerum ex laudantium! Pariatur asperiores eum nisi
    deserunt, minus quibusdam mollitia labore! Dignissimos deleniti nobis, accusantium illo praesentium perspiciatis,
    debitis tempore placeat nesciunt eveniet reiciendis?
</p>
<a  class="b1"><h1>Leave your pet for Boarding</h1></a>
<a  class="b2"><h1>Finds pets to take care</h1></a>

<img src="../../assets/dog4.png" alt="">